<!-- Home page-->
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800;900&display=swap" rel="stylesheet">
</head>
<app-header></app-header>

<body>
    <div class="card mb-3">
        <div class="row no-gutters" style="height:auto;">
            <div class="col-md-4">
                <img src="assets/img/combate_corona.svg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title"> Te manter Informado è ajudar no combate!</h1>
                    <h3>Devo procurar me informar sobre a Covid-19?</h3>
                    <p class="card-text">Em tempos de crise, a informação correta deve ser sua principal aliada. Aqui você encontra todos os dados sobre os números da pandemia em tempo real, tudo isso de uma maneira fácil de visualizar e entender os números sobre a Covid
                        19...
                    </p>
                    <p class="card-text">
                        <p class="card-text">
                            <button type="button" class="btn btn-primary btn-lg">
                            <a href="#numeros"style="color: white;">Ver numeros</a>
                        </button>
                        </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters" style="height:auto;">
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title"> Coletamos ps dados de fonte segura e em real time!</h1>
                    <h3>Informação é tudo!</h3>
                    <p class="card-text"> Extraimos os nossos dados em real time, para que você tenha a informação correta o mais rápido possível. Aqui você tem os dados essenciais e consegue estar informado sobre os casos em território nacional e mundial
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/img/teste_2.png" class="card-img" alt="...">
            </div>
        </div>
    </div>


    <div class="row" id="numeros">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <img src="assets/img/brazil_flag.png" class="card-img" alt="...">
                    <h1 class="card-title">Casos Confirmados no Brasil</h1>
                    <p class="card-text">Total de casos confirmados em território Brasileiro</p>
                    <h2>Total <strong> {{total_brasil}}</strong></h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/img/coronavirus_mundo.svg" class="card-img" alt="..." width="300px" height="380px">
                    <div class="card-body">
                        <h1 class="card-title">Casos Confirmados no Mundo</h1>
                        <p class="card-text">Total de casos confirmados mundialmente</p>
                        <h2>Total <strong> {{total_mundo}}</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                        <h1 class="card-title">Top 10 Paises com mais casos</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Pais</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let f of cases_order'>
                                    <td>{{f.Country}}</td>
                                    <td>{{f.TotalConfirmed}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>